*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: #dbdbdb;
    display: flex;
    position: fixed;
}
.navbar .logo img{
    height: 100px;
    margin-top: -20px;
    margin-left: 10px;
}
.navbar .login-btn a{
    text-decoration: none;
    color: #000;
}
.navbar .login-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 905px;
    background-color: #b4b4b4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
}
.navbar .login-btn:hover{
    background-color: #8d8d8d;
}
.login-form{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
h2{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}
.form{
    width: max-content;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.block{
    display: block;
}
.login-form form input{
    width: 250px; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
  }